.greenCircle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 63.2vw;
  height: 63.2vw;
  border-radius: 50%;
  background-color: #0B9045;
  transform: translateX(-50%) translateY(-43.7%);
}

.leftConcentricDiv {
  position: absolute;
  top: 416px;
  left: 55px;
}

.rightTopConcentricDiv {
  position: absolute;
  top: 250px;
  right: 78px;
}
.rightTopConcentricDiv img {
  width: 209px;
  height: 178px;
  z-index: 5;
}
.rightBottomConcentricDiv {
  position: absolute;
  top: 516px;
  right: 78px;
}
.centralImg {
  position: absolute;
  width: 100%;
  bottom: 0;
}