.withWrapper {
  background-color: #0B9044;
  position: relative;
  border-radius: 9999px;
  display: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.withWrapper::before,
.withWrapper::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  border-radius: 9999px;
  background-color: transparent;
  border: 2px solid #0B9044;
  opacity: 0.9;
}
.withWrapper::before {
  animation: pulse2px 1s ease-in-out 0s infinite;
}
.withWrapper::after {
  top: -14px;
  left: -14px;
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border: 1px solid #0B9044;
  opacity: 0.8;
  animation: pulse1px 1s ease-in-out 1s infinite;
}
.additionalLine::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 9999px;
  background-color: transparent;
  border: 0.5px solid #0B9044;
  opacity: 0.7;
  animation: pulse05px 1s ease-in-out 2s infinite;
}

@keyframes pulse2px {
  0% {
    border-width: 2px;
  }
  50% {
    border-width: 5px;
  }
  100% {
    border-width: 2px;
  }
}
@keyframes pulse1px {
  0% {
    border-width: 1px;
  }
  50% {
    border-width: 4px;
  }
  100% {
    border-width: 1px;
  }
}
@keyframes pulse05px {
  0% {
    border-width: 0.5px;
  }
  50% {
    border-width: 2px;
  }

  100% {
    border-width: 0.5px;
  }
}