.modal {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@supports not (backdrop-filter: blur(10px)) {
  .modal {
    background-color: rgba(0, 0, 0, .8);
  }
}
.login {
  width: 500px;
  height: 480px;
  z-index: 10;
  background-color: #007973;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

}
header {
  font-family: 'pf-din-text-medium', monospace;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.email {
  width: 350px;
}
input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  font-family: 'gilroy', monospace;
  font-size: 18px;
  padding-left: 8px;
}
input:nth-child(1) {
  margin-top: 20px;
}
input:nth-child(2) {
  margin-top: 20px;
}
input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
  color: #A9A9A9;
  font-family: 'gilroy', monospace;
  font-size: 18px;
  padding-left: 8px;
}
input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
  color: #A9A9A9;
  font-family: 'gilroy', monospace;
  font-size: 18px;
  padding-left: 16px;
}
input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
  color: #A9A9A9;
  font-family: 'gilroy', monospace;
  font-size: 18px;
  padding-left: 16px;
}
input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
  color: #A9A9A9;
  font-family: 'gilroy', monospace;
  font-size: 18px;
  padding-left: 16px;
}

input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.forgetPassword {
  width: 100%;
  text-align: right;
  font-family: 'roboto-regular', monospace;
  text-decoration: underline;
  font-size: 15px;
  color: #fff;
  margin-top: 8px;
}

button {
  width: 348px;
  height: 55px;
  border-radius: 37px;
  background-color: #0B9045;
  border: none;
  text-transform: uppercase;
  font-family: 'gilroy', monospace;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
button:nth-child(2) {
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #fff;
}

@media (max-device-width: 500px){
  .email,
  button {
    width: 250px;
  }
}